<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>快商城-首页</title>
    <link rel="stylesheet" href="http://localhost:6001/static/css/common.css">
    <link rel="stylesheet" href="http://localhost:6001/static/asset/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:6001/static/css/v-index.css">
</head>
<body>
<nav id="titleBar" class="containerBody clear">
    <div class="fl">
        <a href="/"><span style="font-weight: 400;font-size: 1.75rem">快商城</span></a>
        <a href="/user/car.do">购物车</a>
        <div id="tbLogin">
            <a class="login" href="/login.do">登录</a>
        </div>
    </div>
    <div class="fr">
        <form id="searchForm" class="clear" action="/search" method="post">
            <input type="text" name="keyword" class="form-control">
            <input type="submit" value="搜索" class="btn btn-dark">
        </form>
    </div>
</nav>
<nav id="catalogBarContainer">
    <div id="catalogBar" class="containerBody clear">
        <div class="catalog-item catalog">
            <span>全部商品分类</span>
            <div class="catalog1s">
                <div class="catalog1">
                    <span>手机</span>
                    <div class="catalog2s">
                        <ol class="clear catalog2">
                            <dt>手机通讯</dt>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                        </ol>
                        <ol class="clear catalog2">
                            <dt>手机通讯</dt>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                        </ol>
                    </div>
                </div>
                <div class="catalog1">
                    <span>电脑</span>
                    <div class="catalog2s">
                        <ol class="clear catalog2">
                            <dt>电脑</dt>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                        </ol>
                        <ol class="clear catalog2">
                            <dt>电脑</dt>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">手机</a></dd>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-item catalog1" catalog1-id="2">
            <span>手机</span>
            <div class="catalog2s">
                <ol class="clear catalog2">
                    <dt>手机通讯</dt>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                </ol>
                <ol class="clear catalog2">
                    <dt>手机通讯</dt>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">手机</a></dd>
                </ol>
            </div>
        </div>
        <div class="catalog-item catalog1" catalog1-id="3">
            <span>家用电器</span>
            <div class="catalog2s">
            </div>
        </div>
        <div class="catalog-item catalog1" catalog1-id="4">
            <span>数码</span>
            <div class="catalog2s">
            </div>
        </div>
        <div class="catalog-item catalog1" catalog1-id="5">
            <span>家居家装</span>
            <div class="catalog2s">
            </div>
        </div>
    </div>
</nav>
<div id="adCarouselBanner" class="containerBody">
    <div id="adCarouselBannerBody" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#adCarouselBannerBody" data-slide-to="0" class="active"></li>
            <li data-target="#adCarouselBannerBody" data-slide-to="1"></li>
            <li data-target="#adCarouselBannerBody" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://imgcps.jd.com/ling/100008348542/5omL5py66LSt5a6e5oOg/5aSH6LSn6LaF5YC8/p-5bd8253082acdd181d02fa47/606c6bff/590x470.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://imgcps.jd.com/ling/100008348542/5omL5py66LSt5a6e5oOg/5aSH6LSn6LaF5YC8/p-5bd8253082acdd181d02fa47/606c6bff/590x470.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://imgcps.jd.com/ling/100008348542/5omL5py66LSt5a6e5oOg/5aSH6LSn6LaF5YC8/p-5bd8253082acdd181d02fa47/606c6bff/590x470.jpg"
                     class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#adCarouselBannerBody" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#adCarouselBannerBody" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<main id="productList" class="containerBody">
    <div id="productCards" class="clear">
<!--        <div class="card">-->
<!--            <div class="card-img-top-box">-->
<!--                <img src="https://m.360buyimg.com/babel/jfs/t11266/172/3136897597/311385/898550cb/5ce41430N7bb10f75.jpg!q70.jpg"-->
<!--                     class="card-img-top" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title line-limit-length">Card title</h5>-->
<!--                <p class="card-text line-limit-length">￥0.00</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div style="text-align: center;line-height: 3rem">
        <a>加载更多</a>
    </div>
</main>
<hr>
<footer style="text-align: center;line-height: 3rem;">
    &copy;2019
</footer>

<script src="http://localhost:6001/static/asset/jquery-3.4.1.min.js"></script>
<script src="http://localhost:6001/static/asset/popper.min.js"></script>
<script src="http://localhost:6001/static/asset/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="http://localhost:6001/static/js/utils.js"></script>
<script src="http://localhost:6001/static/js/api.js"></script>
<script src="http://localhost:6001/static/js/v-index.js"></script>
</body>
</html>