<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>快商城-订单提交成功</title>
    <link rel="stylesheet" href="http://localhost:6001/static/css/common.css">
    <link rel="stylesheet" href="http://localhost:6001/static/asset/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:6001/static/css/v-order-submit-success.css">
</head>
<body>
<nav id="titleBar" class="containerBody clear">
    <div class="fl">
        <a href="/"><span style="font-weight: 400;font-size: 1.75rem">快商城</span></a>
        <a href="/cat">购物车</a>
        <a href="/login">登录</a>
    </div>
    <div class="fr">
        <form id="searchForm" class="clear" action="/search" method="post">
            <input type="text" name="keyword" class="form-control">
            <input type="submit" value="搜索" class="btn btn-dark">
        </form>
    </div>
</nav>
<main id="" class="containerBody">
    <div id="addrBody">
        <span>配送地址：</span><span>aaaaaaaaaaaaaaaaa</span>
    </div>
    <div id="billProductTable">
        <div class="billProductThead clear">
            <div class="billProductTr clear">
                <div class="billProductTh productColumn">
                    <span>商品</span>
                </div>
                <div class="billProductTh">
                    <span>单价</span>
                </div>
                <div class="billProductTh">
                    <span>数量</span>
                </div>
                <div class="billProductTh">
                    <span>小计</span>
                </div>
            </div>
        </div>
        <div class="billProductTbody clear">
            <div class="billProductTr clear">
                <div class="billProductTd productColumn">
                    <div class="billProduct clear">
                        <div class="billProductImageBox fl">
                            <img class="billProductImage" src="https://img10.360buyimg.com/cms/s80x80_jfs/t1/67822/22/9911/141808/5d7804a3E1c1796ce/a4ff0dd48086f3e4.jpg">
                        </div>
                        <div class="billProductDesc fl">
                            <h1 class="billProductTitle line-limit-length">
                                Apple iPhone 11 (A2223) 64GB 黑色 移动联通电信4G手机 双卡双待
                            </h1>
                            <div class="billProductSaleAttr">
                                <span>黑色</span>
                                <span>64GB</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="billProductTd">
                    <span>￥100.00</span>
                </div>
                <div class="billProductTd">
                    <span>1</span>
                </div>
                <div class="billProductTd">
                    <span>￥0.00</span>
                </div>
            </div>
            <div class="billProductTr clear">
                <div class="billProductTd productColumn">
                    <div class="billProduct clear">
                        <div class="billProductImageBox fl">
                            <img class="billProductImage" src="https://img10.360buyimg.com/cms/s80x80_jfs/t1/67822/22/9911/141808/5d7804a3E1c1796ce/a4ff0dd48086f3e4.jpg">
                        </div>
                        <div class="billProductDesc fl">
                            <h1 class="billProductTitle line-limit-length">
                                Apple iPhone 11 (A2223) 64GB 黑色 移动联通电信4G手机 双卡双待
                            </h1>
                            <div class="billProductSaleAttr">
                                <span>黑色</span>
                                <span>64GB</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="billProductTd">
                    <span>￥100.00</span>
                </div>
                <div class="billProductTd">
                    <span>1</span>
                </div>
                <div class="billProductTd">
                    <span>￥0.00</span>
                </div>
            </div>
        </div>
        <div class="billProductTfoot clear">
            <div class="billProductTr clear">
                <div class="billProductTf fr">
                    <span style="margin-right: 24px;font-weight: 400;font-size: 1.25rem;">￥0.00</span>
                    <button type="button" class="btn btn-outline-primary">我的订单</button>
                    <button type="button" class="btn btn-primary">支付</button>
                </div>
            </div>
        </div>
    </div>
</main>
<hr>
<footer style="text-align: center;line-height: 3rem;">
    &copy;2019
</footer>

<script src="http://localhost:6001/static/asset/jquery-3.4.1.min.js"></script>
<script src="http://localhost:6001/static/asset/popper.min.js"></script>
<script src="http://localhost:6001/static/asset/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="http://localhost:6001/static/js/utils.js"></script>
<script src="http://localhost:6001/static/js/v-order-submit-success.js"></script>
</body>
</html>