.containerBody{
    width: 1000px;
    margin: 0 auto;
}

#titleBar{
    line-height: 3rem;
    margin-bottom: 1rem;
}
#titleBar>.fl>*{
    padding: 0 0.5rem;
}
#searchForm{
    vertical-align: middle;
    display: inline-block;
}
#searchForm>*{
    float: left;
}
#searchForm>input[name="keyword"]{
    width: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#searchForm>input[type="submit"]{
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#carAddSuccessContainer{
    background-color: #f5f5f5;
    padding: 1rem 0;
}
#carAddMsgBody{
    width: 600px;
}
#carAddMsgBody .carAddMsgTips{
    margin-bottom: 1rem;
}
#carAddMsgBody .carAddProduct>*{
    float: left;
}
#carAddMsgBody .carAddProductThumbnailBox{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center;
}
#carAddMsgBody .carAddProductThumbnail{
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
#carAddMsgBody .carAddProductDesc{
    width: 520px;
}
#carAddMsgBody .carAddProductDescSaleAttrMap>span{
    color: #aaa;
}
#carAddBtnBody{
    width: 400px;
    text-align: right;
}