.containerBody{
    width: 1000px;
    margin: 0 auto;
}

#titleBar{
    text-align: right;
    line-height: 3rem;
}
#login{
    padding-top: 80px;
}
#loginBody{
    width: 340px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 1px 5px #888888;
}
#loginForm{
    text-align: center;
}
#loginForm>a>img{
    width: 100px;
    height: 100px;
}
#loginForm>h1{
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
#loginForm input[name="username"]{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#loginForm input[name="password"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 1rem;
}
#loginForm div[class="form-check"],#loginForm input[type="submit"]{
    margin-bottom: 1rem;
}


